.hero {
  min-height: 400px;
  position: relative;
  top: 30px;
  display: inline-block;
}

.hero::after {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
}
