.container {
  position: relative;
  background: #0284c7;
  height: 50vh;
}

.wave {
  position: absolute;
  height: 70px;
  width: 100%;
  background: #0284c7;
  bottom: 0;
}

.wave::before,
.wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
}

.wave::before {
  width: 55%;
  height: 109%;
  background-color: #fff;
  right: -1.5%;
  top: 60%;
}
.wave::after {
  width: 55%;
  height: 100%;
  background-color: #0284c7;
  left: -1.5%;
  top: 40%;
}
